.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }

.card {
    margin: 2em;
    width: 22rem
}

h2 {
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-name {
    margin: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-name {
    margin: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    flex-wrap: wrap;
}